<!DOCTYPE html>
<html>
<head>
  <title>Glengarry</title>
  <%= stylesheet_link_tag    "glengarry/application", :media => "all" %>
  <%= javascript_include_tag "glengarry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
