<h1>Welcome to the Dummy app for glengarry</h1>
<%= form_for(Glengarry::EmailLead.new, :url=>glengarry.email_leads_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>
